:root,
html {
  min-height: 100%;
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  --pulse-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
}

.hero {
  height: 100vh;
  position: relative;
  background-color: #61627d;
  background-image: url(../assets/tesla_car.svg),
    linear-gradient(90deg, #30313e 33%, #23242e 33% 67%, #30313e 67% 100%),
    linear-gradient(0deg, #61627d 0%, #48495c 100%);
  background-size: 100% 65%, 100% 35%, cover;
  background-position: center 120%, center bottom, 0% 0%;
  background-repeat: no-repeat;
}

.hero .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}

.hero .toolbar .logo {
  max-width: 300px;
  padding: 0.5rem 1.5rem;
  min-width: 100px;
  margin: auto;
}

.hero .toolbar .nav {
  flex: 1 1 300px;
}

.hero .toolbar .nav ul {
  list-style: none;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  justify-items: center;
  max-width: 750px;
  margin-left: auto;
}

.hero .toolbar .nav ul li a {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: #adadad;
  font-family: "Myriad Pro";
  text-transform: uppercase;
  text-align: center;
  min-width: 80px;
  max-width: 130px;
}

.hero .toolbar .nav ul li a:hover,
.hero .toolbar .nav ul li a:focus {
  color: white;
  font-weight: bold;
}

.hero .seat-info {
  position: absolute;
  bottom: 13rem;
  width: 40vw;
  height: 50px;
}

.hero .acceleration-info {
  position: absolute;
  width: 50%;
  bottom: 11rem;
  height: 50px;
}

.hero .topspeed-info {
  position: absolute;
  width: 20%;
  right: 0px;
  bottom: 10rem;
  height: 50px;
}
.show-pulse-data {
  display: none;
}
.hero .seat-info:hover .show-pulse-data,
.hero .acceleration-info:hover .show-pulse-data,
.hero .topspeed-info:hover .show-pulse-data {
  right: 35px;
  position: absolute;
  display: block;
  width: 300px;
  color: white;
  padding: 10px;
  border: 1px solid gray;
  top: 100%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  transform: skewX(-20deg);
}

.hero .seat-info .pulse-effect-point {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.hero .acceleration-info .pulse-effect-point {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.pulse-effect-point {
  cursor: pointer;
  height: calc(var(--pulse-size) * 2);
  width: calc(var(--pulse-size) * 2);
  position: relative;
}

.pulse-effect-point::before {
  content: "";
  position: absolute;
  width: calc(var(--pulse-size) / 2);
  height: calc(var(--pulse-size) / 2);
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: zoom 2s ease infinite -0.15s;
  z-index: 1;
}

.pulse-effect-point::after {
  content: "";
  position: absolute;
  height: var(--pulse-size);
  width: var(--pulse-size);
  background: rgba(154, 38, 31, 0.4);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: zoom 2s ease infinite -0.3s;
}

@keyframes zoom {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  30% {
    transform: translate(-50%, -50%) scale(1.25);
    box-shadow: 0px 0px 5px rgba(154, 38, 31, 0.8);
  }
}

.info-1 {
  font-weight: 100;
  line-height: 3rem;
  font-size: 2rem;
  font-family: monospace;
}

.info-2 {
  font-size: 0.8rem;
}
