:root,
html {
  min-height: 100%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  --pointer-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
}
.hero {
  height: 100vh;
  background-color: #61627d;
  background-image: url(../assets/tesla_car.svg),
    linear-gradient(90deg, #30313e 33%, #23242e 33% 67%, #30313e 67% 100%),
    linear-gradient(0deg, #61627d 0%, #48495c 100%);
  background-size: 100% 65%, 100% 35%, cover;
  background-position: center 120%, center bottom, 0% 0%;
  background-repeat: no-repeat;
}

.hero .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.5rem 1rem;
}

.hero .toolbar .logo {
  max-width: 300px;
  padding: 0.5rem 1.5rem;
  min-width: 100px;
  margin: auto;
}

.hero .toolbar .nav {
  flex: 1 1 300px;
  max-width: 800px;
}

.hero .toolbar .nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: space-evenly;
  justify-items: center;
}

.hero .toolbar .nav ul li a {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: #adadad;
  font-family: "Myriad Pro";
  text-transform: uppercase;
  text-align: center;
  min-width: 100px;
}

.hero .toolbar .nav ul li a:hover,
.hero .toolbar .nav ul li a:focus {
  color: white;
  font-weight: bold;
}

.hero .seat-info {
  position: absolute;
  bottom: 14rem;
  right: 64%;
  height: var(--pointer-size);
  width: var(--pointer-size);
}

.hero .seat-info::before {
  content: "";
  position: absolute;
  width: calc(var(--pointer-size) / 2);
  height: calc(var(--pointer-size) / 2);
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .seat-info::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  top: 0;
  left: 0;
}
